
# AIRFLOW_HOME=~/airflow
export AIRFLOW_HOME=$(pwd)


DB_BACKEND


source $(poetry env info --path)/bin/activate

# add this line to .bashrc
# and then runing acpoet it actives the env
alias acpoet="source $(poetry env info --path)/bin/activate"